{% extends "base.html" %}
{% block title %}2FA Select - Settings{% endblock %}
{% block settings_link_active %}active{% endblock %}
{% block content %}

<h2>2 Factor Authentication Needed</h2>
{% if Mfa_error %}
	<div class="alert alert-danger" role="alert">
		{{ Mfa_error }}
	</div>
{% endif %}
<br>
<form method="POST" action="/settings/2fa/submit">
    <label for="2fa_code">2 Factor Code:</label>
    <input class="form-control" type="text" id="2fa_code" name="code" placeholder="2FA Code">
    <input type="hidden" id="device_id" name="device_id" value="{{ Devices|length }}" />
    <br>
    <button type="submit" class="btn btn-success">Submit Code</button>
</form>
<br>
<br>
<br>
<h2>Other 2FA Devices</h2>
{% if O2fa_error %}
	<div class="alert alert-danger" role="alert">
		{{ O2fa_error }}
	</div>
{% endif %}
<table class="table">
	<thead>
		<tr>
			<th scope="col">Device</th>
            <th scope="col">Action</th>
		</tr>
	</thead>
	<tbody>
        {% for device in Devices %}
            <tr>
                <th scope="row">{{ device }}</th>
                <th><a class="btn btn-success" href="/settings/2fa/{{ loop.index0 }}">Send Code</a></th>
            </tr>
        {% endfor %}
	</tbody>
</table>

{% endblock %}