{% extends "base.html" %}
{% block title %}Settings{% endblock %}
{% block settings_link_active %}active{% endblock %}
{% block content %}

<h2>Basic Settings</h2>
{% if Settings_error %}
	<div class="alert alert-danger" role="alert">
		{{ Settings_error }}
	</div>
{% endif %}
<table class="table">
	<thead>
		<tr>
			<th scope="col">Setting</th>
			<th scope="col">Value</th>
		</tr>
	</thead>
	<tbody>
        <form method="POST" action="/settings">
			<tr>
				<th scope="row">Watch Interval</th>
                <th scope="row"><input class="form-control" type="number" name="watch_interval" value="{{ Configs.watch_interval }}"></th>
            </tr>
		    <tr>
				<th scope="row">Photo Location</th>
                <th scope="row"><input class="form-control" type="text" name="photo_location" value="{{ Configs.photo_location }}"></th>
            </tr>
		    <tr>
				<th scope="row">Cookie Directory</th>
                <th scope="row"><input class="form-control" type="text" name="cookie_directory" value="{{ Configs.cookie_directory }}"></th>
            </tr>
		    <tr>
				<th scope="row">iCloud Album Name</th>
                <th scope="row"><input class="form-control" type="text" name="icloud_album_name" value="{{ Configs.icloud_album_name }}"></th>
            </tr>
            <tr>
				<th scope="row"></th>
				<th scope="row"><button type="submit" class="btn btn-success">Save</button></th>
		    </tr>
        </form>
	</tbody>
</table>
<br>
<h2>Icloud Authentication Settings</h2>
{% if ICloud_error %}
	<div class="alert alert-danger" role="alert">
		{{ ICloud_error }}
	</div>
{% endif %}
<table class="table">
	<thead>
		<tr>
			<th scope="col">Setting</th>
			<th scope="col">Value</th>
		</tr>
	</thead>
	<tbody>
        <form method="POST" action="/settings/login">
		    <tr>
				<th scope="row">iCloud Username</th>
                <th scope="row"><input class="form-control" type="text" name="user" value="{{ Configs.username }}"></th>
            </tr>
		    <tr>
				<th scope="row">iCloud Password</th>
                <th scope="row"><input class="form-control" type="password" name="pass"></th>
            </tr>
            <tr>
				<th scope="row"></th>
				<th scope="row"><button type="submit" class="btn btn-success">Save</button></th>
		    </tr>
        </form>
	</tbody>
</table>
<br>
<h2>iCloud Status</h2>
<table class="table">
	<thead>
		<tr>
			<th scope="col">State</th>
			<th scope="col">Value</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th scope="row">Has Username</th>
			<th scope="row">{{ ICloud.has_username }}</th>
		</tr>
		<tr>
			<th scope="row">Has Password</th>
			<th scope="row">{{ ICloud.has_password }}</th>
		</tr>
		<tr>
			<th scope="row"> 2FA Setup</th>
			<th scope="row">
				{% if not ICloud.has_password %}
					False
				{% elif ICloud.needs_2fa_setup %}
					False
					<br>
					<button href="/settings/2fa" class="btn btn-success">Setup 2FA</button>
				{% else %}
					True
				{% endif %}
			</th>
		</tr>
		<tr>
			<th scope="row">Token Expores</th>
			<th scope="row">{{ ICloud.get_token_exparation }}</th>
		</tr>
		<tr>
			<th scope="row">Authentication Passed</th>
			<th scope="row">{{ ICloud.is_authed }}</th>
		</tr>
	</tbody>
</table>

{% endblock %}